{{>header}}
<main id="wrap">
    <form id="formSearch">
        <input placeholder="Location"></input>
        <button>Search</button>
    </form>
    </form>
    <div id="container">
            <div id="WeatherInfo">
                <h1 id="location"></h1>
                <p id="forecast"></p>
            </div>
    </div>

</main>
{{>footer}}